.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

* {
  box-sizing: border-box;
}

:link { color: #0000EE; }
:visited { color: #551A8B; }
:link:active, :visited:active { color: #FF0000; }

body {
  margin: 0;
  background-image: url(adobefireandice.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.image {
  min-height: 100vh;
  background-image: url(techimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}



h1, h2, h3, h4, h5, h6 {
  color: black;
  text-align: center;
}

.navbar
{
  display:block;
  background: #B6D0E2;
  padding: 15px;
  margin:0 auto;
  margin-left:auto;
  margin-right:auto;
  width: 90%;
  justify-content:center;
  border-radius: 25px;
  border: solid black 5px;
  height: 50px;
}

.left {   
font: roboto;
margin: auto;
display:block;
text-align: left;
}

.nav 
{
list-style-type:none;
margin:0;
padding:0;
position:relative;
display:inline-block;
}

a:link, a:visited
{
display:inline-block;
width:182.8px;
line-height:30px;
padding-top:13px;
padding-right:5px;
padding-bottom:4px;
padding-left:5px;
text-decoration:none;
text-align:center;
font-weight:bold;
}

.blockcenter {
  display:block;
  background: #B6D0E2;
  padding: 15px;
  margin:0 auto;
  margin-left:auto;
  margin-right:auto;
  width: 65%;
  justify-content:center;
  border-radius: 25px;
  border: solid black 5px;
}
